name: Generate Snake

# Run every 6 hours or manually
on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - uses: actions/checkout@v2

      # Generate the snake GIF and SVG
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: MohamedBen21
          gif_out_path: dist/github-contribution-grid-snake.gif
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Optional: show git status for debugging
      - run: git status

      # Push generated files to the 'output' branch
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
